{% extends "base_template.html" %}
{% block subtitle %} - Blog Posts{% endblock %}
{% block content %}
  <div class="articles-section">
    {% for post in posts %}
      {% include 'post.html' %}
    {% endfor %}
  </div>

  <div class="row nav-posts-row">
      <div class="column small-12 medium-4 text-center">
          <a href="" class="nav-posts-button"><<< Previous</a>
      </div>
      <div class="column small-12 medium-4 text-center">
          <a href="" class="nav-posts-button">Next >>></a>
      </div>
  </div>

{% endblock %}
