{% extends "base_template.html" %}
{% block subtitle %} - About{% endblock %}
{% block content %}

<div class="row column">
  <p>Welcome to The Healthy Adventurer! My name is Chris Zacny, and I'm an ultrarunner, rock climber, mountain biker, hiker, and weight lifter. The purpose of this site is to catalog how I am attempting to stay healthy and injury free while participating in all of the above activities.</p>
  <p>At the moment I'm dealing with Patellar Tendonitis (Runner's / Jumper's Knee), a strained quad, and an elbow I can't get to full extension (mountain biking accident). As such, I am attempting to employ a wide variety of conventional and alternative therapies in order to correct the injuries above and return to full health.</p>
  <p>My goal is to do all of the above in a safe and controlled manner. Additionally, there is a saying: "Use Data to Drive Decisions". I plan on tracking my injury progress in an online tracking tool I'm going to develop in order to see what works and what doesn't.</p>
  <p>About me: I'm a Software Engineer based in the Seattle area. I personally enjoy fitness, the great outdoors, and programming (front and back-end).</p>
</div>

{% endblock %}
