{% extends "base_template.html" %}
{% block subtitle %} - About{% endblock %}
{% block content %}

<div class="row column">
    <p>Welcome to 'A Run in the Forest'! On this site, you'll find all manner of resources related to outdoor functional fitness, ultimately leading one to better enjoy the fun things in life, such as scaling a moutain, or enjoying a long hike in the forest.</p>
    <p>In addition, I plan on using this as an online journal of my outdoor fitness pursuits and workouts.</p>
    <p>About me: My name is Chris Zacny, and I'm based in the Seattle area. I personally enjoy fitness, the great outdoors, and computer / IoT programming (mainly back-end, with some front-end thrown in for good measure).</p>
</div>

{% endblock %}
