<!doctype html>
<html class="no-js" lang="">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{{ config['SITE_TITLE'] }}{% block subtitle %}{% endblock %}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
      <!-- Place favicon.ico in the root directory -->

      <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
      <link rel="stylesheet" id="penscratch-fonts-css" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&amp;subset=latin%2Clatin-ext" type="text/css" media="all">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/webicons.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <link rel="stylesheet" href="{{ url_for('pygments_css') }}">

      <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your my_site or application content here -->

        <div class="site">
            <header class="site-header">
                <div class="site-branding">
                    <div class="site-images row small-up-3 medium-up-6 large-up-6">
                        <div class="column">
                            <img src="{{ url_for('static', filename='img/hiking.jpg') }}"></img>
                        </div>
                        <div class="column">
                            <img src="{{ url_for('static', filename='img/climbing.jpg') }}"></img>
                        </div>
                        <div class="column">
                            <img src="{{ url_for('static', filename='img/trail-running.jpg') }}"></img>
                        </div>
                        <div class="column">
                            <img src="{{ url_for('static', filename='img/strength.jpg') }}"></img>
                        </div>
                        <div class="column">
                            <img src="{{ url_for('static', filename='img/cycling.jpg') }}"></img>
                        </div>
                        <div class="column">
                            <img src="{{ url_for('static', filename='img/camping.jpg') }}"></img>
                        </div>
                    </div>
                    <div class="row column text-center site-branding-text">
                        <h1 class="site-title">{{ config['SITE_TITLE'] }}</h1>
                        <h2 class="site-description">For the fun stuff in life</h2>
                    </div>
                    <nav class="menu-centered main-navigation">
                        <ul class="vertical medium-horizontal menu">
                            <li><a href="{{ url_for('blog') }}">Blog</a></li>
                            <!--<li><a href="archives.html">Archives</a></li>-->
                            <li><a href="{{ url_for('about') }}">About</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            {% block content %}
            {% endblock %}

            <footer>
                <div class="social-row row">
                    <div class="column small-6 small-centered text-center">
                        <a class="webicon linkedin large" href="#">LinkedIn</a>
                        <a class="webicon github large" href="#">GitHub</a>
                        <a class="webicon rss large" href="#">RSS</a>
                    </div>
                </div>
            </footer>
        </div>

        <!-- jQuery scripts -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.12.0.min.js') }}"><\/script>')</script>
        <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/foundation.js') }}"></script>
        <script type="text/javascript">
            $(document).foundation()
        </script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your my_site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
