{% extends "base_template.html" %}
{% block subtitle %} - Blog Post{% endblock %}
{% block content %}
  <div class="articles-section">
      <article class="blog-post">
          <h1 class="entry-title">
              <a href="{{ url_for('single_blog_post', slugname=model_object.post.data.meta['slugname']) }}">{{ model_object.post.data.meta['title'] }}</a>
          </h1>
          <p class="meta-info">
              Posted on {{ model_object.post.data.meta['date'] }}
              by <strong>{{ model_object.post.data.meta['author'] }}</strong>
               in <strong><a href="{{ url_for('blog') }}?category={{ model_object.post.data.meta['category'] }}">{{ model_object.post.data.meta['category'] }}</a></strong>.
              <br/>
              Tags: {% for tag_name in model_object.post.data.meta['tags'] %}<strong><a href="{{ url_for('blog') }}?tag={{ tag_name }}">{{ tag_name }}</a></strong> {% endfor %}
          </p>
          {{ model_object.post.data.html|safe }}
      </article>
  </div>

{% endblock %}
