{% extends "base_template.html" %}
{% block subtitle %} - Blog Post{% endblock %}
{% block content %}
  <div class="articles-section">
    {% for post in model_object %}
      {% include 'post.html' %}
    {% endfor %}
  </div>

  <div class="row nav-posts-row">
      <div class="column small-12 medium-4 text-center">
          {% if model_object[0].data.previous_post_slugname is not none %}
            <a href="{{ url_for('post', slugname=model_object[0].data.previous_post_slugname) }}" class="nav-posts-button"><<< Previous</a>
          {% endif %}
      </div>
      <div class="column small-12 medium-4 text-center">
          {% if model_object[0].data.next_post_slugname is not none %}
            <a href="{{ url_for('post', slugname=model_object[0].data.next_post_slugname) }}" class="nav-posts-button">Next >>></a>
          {% endif %}
      </div>
  </div>

{% endblock %}
