<article class="blog-post">
    <h1 class="entry-title">
        <a href="{% url_for('post', slugname={{ post.slugname }})  %}">{{ post.title }}</a>
    </h1>
    <p class="meta-info">
        Posted on {{ post.date }}
        by <strong>{{ post.author }}</strong>
         in <strong><a href="{% url_for(???) %}">{{ post.category }}</a></strong>.
        <br/>
        Tags: <strong><a href="/tag/go.html">Go</a></strong> <strong><a href="/tag/google.html">Google</a></strong> <strong><a href="/tag/asynchronous-programming.html">Asynchronous Programming</a></strong>
    </p>
    {{ post.html|safe }}
</article>
